<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>3D Storage</title>
</head>

<body>
    <header>
        <h1>{{ page_title }}</h1>
        <nav>
            <a href="/about/">О нас</a>
        </nav>
    </header>

    <main>
        <h2>Доступные ассеты:</h2>
        <!-- Цикл for в шаблоне Django -->
        <ul>
            {% for asset in assets %}
                <!-- Внутри цикла for -->
            <li>
                 <strong>{{ asset.title }}</strong>
                <!-- asset.file.url — это ссылка на файл (/media/3d_assets/...) -->
                <!-- asset.file.size — размер в байтах. filter 'filesizeformat' делает его читаемым
                (MB/KB) -->
                <small>(Размер: {{ asset.file.size|filesizeformat }})</small>
                <a href="{{ asset.file.url }}" download>[Скачать файл]</a>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>